@import '../Base/variables';

@mixin headshippingcost {
    background: linear-gradient(to right,blue,white);
    text-align: center;
    font-family: 'Mulish', sans-serif;    
}
/* este es es header*/
.home_central{
    .homme_header{
        width: 100%;
        .Shipping_cost{
            @include headshippingcost();
            .shippinB{
                color:nth($list: $color, $n:1 );
                background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                background-clip: text;
                animation: color 3s linear infinite;
                background-size: 500%;
            }
            @keyframes color {
                from{
                    background-position: 0% 50%;
                }
                to{
                    background-position: 100% 50%;
                }
              }
        }
        .menuHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid gray;
            padding-left: 20px;
            padding-right: 20px;
            /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
            .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                position:absolute;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                right: 0;
                top: 0;
                width: 48px;
                height: 48px;
            }
            .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                font-size: 48px;
                pointer-events: none;
            }
            .hamburger_menu input[type="checkbox"] {
                opacity: 0;
            }
            .hamburger_menu input:checked ~ nav {
                display: block;
            }
            .hamburger_menu input:checked ~ .bootom_headerA {
                display:none;
            }
            .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                display: none;
              }
            input#Open_Colse{
                cursor: pointer;
            }
            /*aqui finaliza el codigo del menu desplegable hamburguesa*/
            .hamburger_menu {
                height: 48px;
                width: 48px;
                color: gray;
                position: relative;
                min-height: 48px;
                .bootom_headerA{
                    height: 30px;
                    width: 30px;  
                }
                .bootom_headerB{
                    height: 30px;
                    width: 30px;
                }
                .Nav_Hamburguer{
                    display:none;
                    padding-top: 50px;
                    background: white;
                    .sub-listfooter{
                        width: 160px;
                        background: white;
                        padding-top: 10px;                   
                        .SubFooter{
                            list-style: none;  
                            display: flex;                          
                            .icon1{
                                padding-top: 10px;
                            }
                            .First_Menu{
                                color: inherit;
                                text-decoration: none;
                                display: block;
                                padding: 10px 20px;
                                border-bottom: 1px solid #456789;
                                max-width: 200px;
                                font-variant: small-caps;
                                font-family: 'Inter', sans-serif;
                                list-style: none;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
            .logo{
                width: 80px;
            }
            .search{
                display: flex;
                .nav-search{
                    padding-left: 5px;
                 
                    #searchPrincipal{
                        width: 650px;
                   
                    }
                    .nav_searchA{
                        height: 44px;
                    }
                }
                .nav_searchB{
                    .nav_searchAB{
                        width: 44px;
                        height: 44px;
                    }
                }
            }
            .menu_section{
                font-family:$fuenteheader;
                padding: 10px;
                list-style: none;
                .menu_sectionB{
                    .sub-menusection{
                        display: flex;
                        text-align: center;
                        font-size: 12px;
                        justify-content: space-between;
                        list-style: none;
                        width: 350px;
                        padding: 5px;
                        margin: 0px;
                        .sub-menusectionB:hover{
                            background: #F3F3F3;
                        }
                        .sub-menusectionB{
                            .Icons_Four{
                                height: 35px;
                                width: 35px;
                                display: flex;
                                font-weight: 100;
                                margin: 0 auto;
                                padding-bottom: 5px;
                                filter: invert(54%) sepia(12%) saturate(4%) hue-rotate(345deg) brightness(90%) contrast(89%);
                            }
                            .Icons_Four:hover{
                                filter: invert(32%) sepia(26%) saturate(784%) hue-rotate(198deg) brightness(102%) contrast(96%);
                            }
                        }
                        .iconA{
    
                        }
                        .iconB{
    
                        }
                        .iconC{
    
                        }
                        .iconD{
    
                        }
                    }
                }
            }
        }
        .search{ 
            display: none;
        }
    }   
}
@media only screen and (max-width: 480px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        .homme_header{
            .Shipping_cost{
                width: 100%;
                .shippinB{
                    color:nth($list: $color, $n:1 );
                    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                    background-clip: text;
                    animation: color 3s linear infinite;
                    background-size: 500%;
                    width: 100%;
                }
                @keyframes color {
                    from{
                        background-position: 0% 50%;
                    }
                    to{
                        background-position: 100% 50%;
                    }
                }
            }
            .menuHeader{
                display: grid;
                grid-template-columns: 0fr 3fr 1fr;  
                justify-content:center ;
                padding-right: 20px; 
                padding-left: 20px;         
                /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
                .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                    position:absolute;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 0;
                    width: 48px;
                    height: 48px;
                }
                .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                    font-size: 48px;
                    pointer-events: none;
                }
                .hamburger_menu input[type="checkbox"] {
                    opacity: 0;
                }
                .hamburger_menu input:checked ~ nav {
                    display: block;
                }
                .hamburger_menu input:checked ~ .bootom_headerA {
                    display:none;
                }
                
                .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                    display: none;
                  }
                input#Open_Colse{
                    cursor: pointer;
                }
                /*aqui finaliza el codigo del menu desplegable hamburguesa*/
                .hamburger_menu {
                    
                    
                    .bootom_headerA{
                          
                    }
                    .bootom_headerB{
                        
                    }
                    .Nav_Hamburguer{
                        
                        .sub-listfooter{
                            width: 160px;
                            background: white;
                            padding-top: 10px;
                            
                            .SubFooter{
                                .icon1{
                                    
                                }
                                .First_Menu{
                                    z-index: 1;
                                    
                                }
                            }
                        }
                    }
        
                }
                .logo{
                    justify-self: center;
                    margin-left: 20px;
                    
                    .Image_Logo{
                        height: 60px;
                        width: 60px;
                    }
                }
                .search{
                    display: none;
                    
                    .nav-search{
                        width: 100%; 
                        display: none;                       
                        #searchPrincipal{
                            width: 100%;
                        }
                        .nav_searchA{
                            
                        }
                    }
                    .nav_searchB{
                        
                        .nav_searchAB{
                            align-items: center;
                            
                        }
                    }
                }
                .menu_section{
                    padding: 3px;
                    width: 100%;
                    .menu_sectionB{
                        justify-items: center;
                        .sub-menusection{
                            width: 100%;
                            justify-content: end;
                            margin: 0px;
                            .sub-menusectionB:hover{
                                
                            }
                            .sub-menusectionB{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
                                
                            }
                            .iconA{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconB{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconC{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconD{
                                padding-left: 10px;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                }
                                .item_frase{
                                    p{
                                        display: none;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            .search{ 
                padding-left: 20px;  
                padding-right: 20px;    
                display: flex;         
                .nav-search{
                    width: 100%;  
                    height: 44px;                      
                    #searchPrincipal{
                        width: 100%;
                    }
                    .nav_searchA{
                        height: 44px;                        
                    }
                }
                .nav_searchB{
                    
                    
                    .nav_searchAB{
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        
                    }
                }
            }
        }
    }
} 
@media only screen and (min-width: 481px) and (max-width: 620px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        .homme_header{
            .Shipping_cost{
                width: 100%;
                .shippinB{
                    color:nth($list: $color, $n:1 );
                    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                    background-clip: text;
                    animation: color 3s linear infinite;
                    background-size: 500%;
                    width: 100%;
                }
                @keyframes color {
                    from{
                        background-position: 0% 50%;
                    }
                    to{
                        background-position: 100% 50%;
                    }
                }
            }
            .menuHeader{
                display: grid;
                grid-template-columns: 0fr 3fr 1fr;  
                justify-content:center ;
                padding-right: 20px; 
                padding-left: 20px;         
                /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
                .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                    position:absolute;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 0;
                    width: 48px;
                    height: 48px;
                }
                .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                    font-size: 48px;
                    pointer-events: none;
                }
                .hamburger_menu input[type="checkbox"] {
                    opacity: 0;
                }
                .hamburger_menu input:checked ~ nav {
                    display: block;
                }
                .hamburger_menu input:checked ~ .bootom_headerA {
                    display:none;
                }
                
                .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                    display: none;
                  }
                input#Open_Colse{
                    cursor: pointer;
                }
                /*aqui finaliza el codigo del menu desplegable hamburguesa*/
                .hamburger_menu {
                    
                    
                    .bootom_headerA{
                          
                    }
                    .bootom_headerB{
                        
                    }
                    .Nav_Hamburguer{
                        
                        .sub-listfooter{
                            width: 160px;
                            background: white;
                            padding-top: 10px;
                            
                            .SubFooter{
                                .icon1{
                                    
                                }
                                .First_Menu{
                                    z-index: 1;
                                    
                                }
                            }
                        }
                    }
        
                }
                .logo{
                    justify-self: center;
                    margin-left: 20px;
                    
                    .Image_Logo{
                        height: 60px;
                        width: 60px;
                    }
                }
                .search{
                    display: none;
                    
                    .nav-search{
                        width: 100%; 
                        display: none;                       
                        #searchPrincipal{
                            width: 100%;
                        }
                        .nav_searchA{
                            
                        }
                    }
                    .nav_searchB{
                        
                        .nav_searchAB{
                            align-items: center;
                            
                        }
                    }
                }
                .menu_section{
                    padding: 3px;
                    width: 100%;
                    .menu_sectionB{
                        justify-items: center;
                        .sub-menusection{
                            width: 100%;
                            justify-content: end;
                            margin: 0px;
                            .sub-menusectionB:hover{
                                
                            }
                            .sub-menusectionB{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
                                
                            }
                            .iconA{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconB{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconC{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconD{
                                padding-left: 10px;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                }
                                .item_frase{
                                    p{
                                        display: none;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            .search{ 
                padding-left: 20px;  
                padding-right: 20px;    
                display: flex;         
                .nav-search{
                    width: 100%;  
                    height: 44px;                      
                    #searchPrincipal{
                        width: 100%;
                    }
                    .nav_searchA{
                        height: 44px;                        
                    }
                }
                .nav_searchB{
                    
                    
                    .nav_searchAB{
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        
                    }
                }
            }
        }
    }

}
@media only screen and (min-width: 621px) and (max-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        .homme_header{
            .Shipping_cost{
                width: 100%;
                .shippinB{
                    color:nth($list: $color, $n:1 );
                    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                    background-clip: text;
                    animation: color 3s linear infinite;
                    background-size: 500%;
                    width: 100%;
                }
                @keyframes color {
                    from{
                        background-position: 0% 50%;
                    }
                    to{
                        background-position: 100% 50%;
                    }
                }
            }
            .menuHeader{
                display: grid;
                grid-template-columns: 0fr 3fr 1fr;  
                justify-content:center ;
                padding-right: 20px; 
                padding-left: 20px;         
                /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
                .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                    position:absolute;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 0;
                    width: 48px;
                    height: 48px;
                }
                .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                    font-size: 48px;
                    pointer-events: none;
                }
                .hamburger_menu input[type="checkbox"] {
                    opacity: 0;
                }
                .hamburger_menu input:checked ~ nav {
                    display: block;
                }
                .hamburger_menu input:checked ~ .bootom_headerA {
                    display:none;
                }
                
                .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                    display: none;
                  }
                input#Open_Colse{
                    cursor: pointer;
                }
                /*aqui finaliza el codigo del menu desplegable hamburguesa*/
                .hamburger_menu {
                    
                    
                    .bootom_headerA{
                          
                    }
                    .bootom_headerB{
                        
                    }
                    .Nav_Hamburguer{
                        
                        .sub-listfooter{
                            width: 160px;
                            background: white;
                            padding-top: 10px;
                            
                            .SubFooter{
                                .icon1{
                                    
                                }
                                .First_Menu{
                                    z-index: 1;
                                    
                                }
                            }
                        }
                    }
        
                }
                .logo{
                    justify-self: center;
                    margin-left: 20px;
                    
                    .Image_Logo{
                        height: 60px;
                        width: 60px;
                    }
                }
                .search{
                    display: none;
                    
                    .nav-search{
                        width: 100%; 
                        display: none;                       
                        #searchPrincipal{
                            width: 100%;
                        }
                        .nav_searchA{
                            
                        }
                    }
                    .nav_searchB{
                        
                        .nav_searchAB{
                            align-items: center;
                            
                        }
                    }
                }
                .menu_section{
                    padding: 3px;
                    width: 100%;
                    .menu_sectionB{
                        justify-items: center;
                        .sub-menusection{
                            width: 100%;
                            justify-content: end;
                            margin: 0px;
                            .sub-menusectionB:hover{
                                
                            }
                            .sub-menusectionB{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
                                
                            }
                            .iconA{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconB{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconC{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconD{
                                padding-left: 10px;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                }
                                .item_frase{
                                    p{
                                        display: none;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            .search{ 
                padding-left: 20px;  
                padding-right: 20px;    
                display: flex;         
                .nav-search{
                    width: 100%;  
                    height: 44px;                      
                    #searchPrincipal{
                        width: 100%;
                    }
                    .nav_searchA{
                        height: 44px;                        
                    }
                }
                .nav_searchB{
                    
                    
                    .nav_searchAB{
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 837px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        .homme_header{
            .Shipping_cost{
                width: 100%;
                .shippinB{
                    color:nth($list: $color, $n:1 );
                    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                    background-clip: text;
                    animation: color 3s linear infinite;
                    background-size: 500%;
                    width: 100%;
                }
                @keyframes color {
                    from{
                        background-position: 0% 50%;
                    }
                    to{
                        background-position: 100% 50%;
                    }
                }
            }
            .menuHeader{
                display: grid;
                grid-template-columns: 0fr 3fr 1fr;  
                justify-content:center ;
                padding-right: 20px; 
                padding-left: 20px;         
                /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
                .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                    position:absolute;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 0;
                    width: 48px;
                    height: 48px;
                }
                .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                    font-size: 48px;
                    pointer-events: none;
                }
                .hamburger_menu input[type="checkbox"] {
                    opacity: 0;
                }
                .hamburger_menu input:checked ~ nav {
                    display: block;
                }
                .hamburger_menu input:checked ~ .bootom_headerA {
                    display:none;
                }
                
                .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                    display: none;
                  }
                input#Open_Colse{
                    cursor: pointer;
                }
                /*aqui finaliza el codigo del menu desplegable hamburguesa*/
                .hamburger_menu {
                    
                    
                    .bootom_headerA{
                          
                    }
                    .bootom_headerB{
                        
                    }
                    .Nav_Hamburguer{
                        
                        .sub-listfooter{
                            width: 160px;
                            background: white;
                            padding-top: 10px;
                            
                            .SubFooter{
                                .icon1{
                                    
                                }
                                .First_Menu{
                                    z-index: 1;
                                    
                                }
                            }
                        }
                    }
        
                }
                .logo{
                    justify-self: center;
                    margin-left: 20px;
                    
                    .Image_Logo{
                        height: 60px;
                        width: 60px;
                    }
                }
                .search{
                    display: none;
                    
                    .nav-search{
                        width: 100%; 
                        display: none;                       
                        #searchPrincipal{
                            width: 100%;
                        }
                        .nav_searchA{
                            
                        }
                    }
                    .nav_searchB{
                        
                        .nav_searchAB{
                            align-items: center;
                            
                        }
                    }
                }
                .menu_section{
                    padding: 3px;
                    width: 100%;
                    .menu_sectionB{
                        justify-items: center;
                        .sub-menusection{
                            width: 100%;
                            justify-content: end;
                            margin: 0px;
                            .sub-menusectionB:hover{
                                
                            }
                            .sub-menusectionB{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
                                
                            }
                            .iconA{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconB{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconC{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconD{
                                padding-left: 10px;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                }
                                .item_frase{
                                    p{
                                        display: none;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            .search{ 
                padding-left: 20px;  
                padding-right: 20px;    
                display: flex;         
                .nav-search{
                    width: 100%;  
                    height: 44px;                      
                    #searchPrincipal{
                        width: 100%;
                    }
                    .nav_searchA{
                        height: 44px;                        
                    }
                }
                .nav_searchB{
                    
                    
                    .nav_searchAB{
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 838px) and (max-width: 1065px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        .homme_header{
            .Shipping_cost{
                width: 100%;
                .shippinB{
                    color:nth($list: $color, $n:1 );
                    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                    background-clip: text;
                    animation: color 3s linear infinite;
                    background-size: 500%;
                    width: 100%;
                }
                @keyframes color {
                    from{
                        background-position: 0% 50%;
                    }
                    to{
                        background-position: 100% 50%;
                    }
                }
            }
            .menuHeader{
                display: grid;
                grid-template-columns: 0fr 3fr 1fr;  
                justify-content:center ;
                padding-right: 20px; 
                padding-left: 20px;         
                /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
                .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                    position:absolute;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 0;
                    width: 48px;
                    height: 48px;
                }
                .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                    font-size: 48px;
                    pointer-events: none;
                }
                .hamburger_menu input[type="checkbox"] {
                    opacity: 0;
                }
                .hamburger_menu input:checked ~ nav {
                    display: block;
                }
                .hamburger_menu input:checked ~ .bootom_headerA {
                    display:none;
                }
                
                .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                    display: none;
                  }
                input#Open_Colse{
                    cursor: pointer;
                }
                /*aqui finaliza el codigo del menu desplegable hamburguesa*/
                .hamburger_menu {
                    
                    
                    .bootom_headerA{
                          
                    }
                    .bootom_headerB{
                        
                    }
                    .Nav_Hamburguer{
                        
                        .sub-listfooter{
                            
                            .SubFooter{
                                .icon1{
                                    
                                }
                                .First_Menu{
                                    
                                }
                            }
                        }
                    }
        
                }
                .logo{
                    justify-self: center;
                    margin-left: 20px;
                    
                    .Image_Logo{
                        height: 60px;
                        width: 60px;
                    }
                }
                .search{
                    display: none;
                    
                    .nav-search{
                        width: 100%; 
                        display: none;                       
                        #searchPrincipal{
                            width: 100%;
                        }
                        .nav_searchA{
                            
                        }
                    }
                    .nav_searchB{
                        
                        .nav_searchAB{
                            align-items: center;
                            
                        }
                    }
                }
                .menu_section{
                    padding: 3px;
                    width: 100%;
                    .menu_sectionB{
                        justify-items: center;
                        .sub-menusection{
                            width: 100%;
                            justify-content: end;
                            margin: 0px;
                            .sub-menusectionB:hover{
                                
                            }
                            .sub-menusectionB{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
                                
                            }
                            .iconA{
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconB{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconC{
                                display: none;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                    p{
                                        display: none;
                                    }  
                                }
        
                            }
                            .iconD{
                                padding-left: 10px;
                                a{
                                    .Icons_Four{
                                         
                                    }
                                }
                                .item_frase{
                                    p{
                                        display: none;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            .search{ 
                padding-left: 20px;  
                padding-right: 20px;    
                display: flex;         
                .nav-search{
                    width: 100%;  
                    height: 44px;                      
                    #searchPrincipal{
                        width: 100%;
                    }
                    .nav_searchA{
                        height: 44px;                        
                    }
                }
                .nav_searchB{
                    
                    
                    .nav_searchAB{
                        align-items: center;
                        width: 44px;
                        height: 44px;
                        
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1066px) and (max-width: 1100px){

    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        .homme_header{
            display: flex;
            flex-direction: column;
            .Shipping_cost{
                width: 100%;
                .shippinB{
                    color:nth($list: $color, $n:1 );
                    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);    
                    background-clip: text;
                    animation: color 3s linear infinite;
                    background-size: 500%;
                    width: 100%;
                }
                @keyframes color {
                    from{
                        background-position: 0% 50%;
                    }
                    to{
                        background-position: 100% 50%;
                    }
                }
            }
            .menuHeader{
                padding-left: 40px;
                
            
                /*esta seccion esta dentro del menu pero es el codigo para el menu desplegable del header*/
                .Hamburger_menu input[type="checkbox"], .Hamburger_menu .bootom_headerA, .Hamburger_menu .bootom_headerB {
                    position:absolute;
                    box-sizing: border-box;
                    margin: 0;
                    padding: 0;
                    right: 0;
                    top: 0;
                    width: 48px;
                    height: 48px;
                }
                .hamburger_menu .bootom_headerA, .hamburger_menu .bootom_headerB {
                    font-size: 48px;
                    pointer-events: none;
                }
                .hamburger_menu input[type="checkbox"] {
                    opacity: 0;
                }
                .hamburger_menu input:checked ~ nav {
                    display: block;
                }
                .hamburger_menu input:checked ~ .bootom_headerA {
                    display:none;
                }
                
                .hamburger_menu input:not(:checked) ~ .bootom_headerB {
                    display: none;
                  }
                input#Open_Colse{
                    cursor: pointer;
                }
                /*aqui finaliza el codigo del menu desplegable hamburguesa*/
                .hamburger_menu {
                    
                    .bootom_headerA{
                          
                    }
                    .bootom_headerB{
                        
                    }
                    .Nav_Hamburguer{
                        
                        .sub-listfooter{
                            width: 160px;
                            background: white;
                            padding-top: 30px;
                            
                            .SubFooter{
                                .icon1{
                                    
                                }
                                .First_Menu{
                                    z-index: 1;
                                    
                                }
                            }
                        }
                    }
                }
                .logo{
                    justify-self: center;
                    margin-left: 20px;
                    .Image_Logo{
                        height: 60px;
                        width: 60px;
                    }
                }
                .search{
                    .nav-search{                      
                        #searchPrincipal{
                        }
                        .nav_searchA{
                            
                        }
                    }
                    .nav_searchB{
                        .nav_searchAB{
                            
                        }
                    }
                }
                .menu_section{
                    padding: 3px;
                    width: 100%;
                    .menu_sectionB{
                        justify-items: center;
                        .sub-menusection{
                            width: 100%;
                            justify-content: end;
                            .sub-menusectionB:hover{     
                            }
                            .sub-menusectionB{
                                .Icons_Four{        
                                }
                            }
                            .iconA{
                                padding-right: 10px;
                                
                            }
                            .iconB{
                                display: none;
                            }
                            .iconC{
                               
                            }
                            .iconD{
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
