#principalSectionPagos{
    padding-top: 30px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    font-family: 'Mingzat', sans-serif;
}
@media only screen and (max-width: 480px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    #principalSectionPagos{
        padding: 10px;
        .payment{
            padding-bottom: 10px;

            h1{

            }
        }
        .Image_pay{
            .image_pay{
                width: 100%;
                padding-bottom: 10px;

            }
        }
        .Descrition_aboutPayment{
            padding-bottom: 10px;
        }
    }
}
@media only screen and (min-width: 481px) and (max-width: 620px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    #principalSectionPagos{
        padding: 10px;
        .payment{
            padding-bottom: 10px;

            h1{

            }
        }
        .Image_pay{
            .image_pay{
                width: 100%;
                padding-bottom: 10px;

            }
        }
        .Descrition_aboutPayment{
            padding-bottom: 10px;
        }
    }
}
@media only screen and (min-width: 621px) and (max-width: 768px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    #principalSectionPagos{
        padding: 10px;
        .payment{
            padding-bottom: 10px;

            h1{

            }
        }
        .Image_pay{
            .image_pay{
                width: 100%;
                padding-bottom: 10px;

            }
        }
        .Descrition_aboutPayment{
            padding-bottom: 10px;
        }
    }
}
@media only screen and (min-width: 769px) and (max-width: 837px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    #principalSectionPagos{
        padding: 10px;
        .payment{
            padding-bottom: 10px;

            h1{

            }
        }
        .Image_pay{
            .image_pay{
                width: 100%;
                padding-bottom: 10px;

            }
        }
        .Descrition_aboutPayment{
            padding-bottom: 10px;
        }
    }
}
@media only screen and (min-width: 838px) and (max-width: 1065px){
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mingzat&family=Mulish:ital,wght@0,700;0,800;1,500;1,600;1,800&family=Nova+Flat&family=Nova+Mono&family=Nuosu+SIL&display=swap');
    .home_central{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    #principalSectionPagos{
        padding: 10px;
        .payment{
            padding-bottom: 10px;

            h1{

            }
        }
        .Image_pay{
            .image_pay{
                width: 100%;
                padding-bottom: 10px;

            }
        }
        .Descrition_aboutPayment{
            padding-bottom: 10px;
        }
    }
}